In [12]:
import pandas as pd
df = pd.read_csv("PP_Historical_Weather.csv", header=16)
df.set_index("YEAR", inplace=True)
df.head(10)

,MO,DY,T2M_MAX,T2M_MIN,T2M,RH2M,WS10M,WD10M,PS,PRECTOTCORR
YEAR,,,,,,,,,,
2010,1,1,35.91,22.72,28.10,63.55,2.53,130.1,100.82,0.00
2010,1,2,35.31,21.87,27.87,62.53,2.35,127.4,100.86,0.00
2010,1,3,36.35,24.11,29.35,65.41,2.31,155.4,100.83,0.01
2010,1,4,34.66,23.64,28.50,69.15,2.26,164.9,100.78,4.16
2010,1,5,34.93,22.57,28.17,67.22,3.11,142.1,100.77,0.00
2010,1,6,35.09,22.72,27.99,64.69,3.21,145.2,100.87,0.00
2010,1,7,35.93,22.36,28.30,63.21,2.49,144.0,101.01,0.00
2010,1,8,34.86,23.25,28.59,62.93,1.89,30.9,101.04,0.00
2010,1,9,35.22,23.89,29.13,59.62,1.62,102.1,100.96,0.08
2010,1,10,34.69,23.68,28.36,67.93,2.36,207.5,100.99,1.04